@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
:root {
  --font-base: "Libre Franklin", sans-serif;
  --Blue-color: hsl(223, 87%, 63%);
  --PaleBlue-color: hsl(223, 100%, 88%);
  --LightRed-color: hsl(354, 100%, 66%);
  --Gray-color: hsl(0, 0%, 59%);
  --VeryDarkBlue-color: hsl(209, 33%, 12%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-base);
  font-size: 20px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 1440px;
  height: 800px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
