design/.gitignore
design/desktop-design.jpg
design/desktop-hover-error-states.jpg
design/desktop-preview.jpg
design/index.html
design/mobile-design.jpg
design/mobile-error-state.jpg
design/README-template.md
design/README.md
design/style-guide.md
